

td {
  border: 1px solid;
  padding: 30px;
  border-radius: 5px;
}

.holland {
  background-color: #CDF0EA;
}

.gr {
  background-color: #FAF4B7;
}

.ooo {
  background-color: #F6C6EA;
}

.weekend {
  background-color: #FFE6E6;
}
